#AboutPageContainer {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    color: var(--tertiary);
    text-align: center;
    padding-top: 5rem;
    padding-bottom: 5rem;
    gap: 4rem;
}

@keyframes LogoReveal {
    0% {
        clip-path: polygon(0 0, 0 0, 0 100%, 0% 100%);
    }
    100% {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    }
}

#LogoImage {
    width: 100%;
    height: 100%;
    background-color: var(--primary);
    padding: 15px;
    animation-name : LogoReveal;
    clip-path: polygon(0 0, 0 0, 0 100%, 0% 100%);
    animation: LogoReveal 1s ease-in-out forwards;
}

#AboutField {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    text-align: left;
}