#HomePageContainer {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    color: var(--tertiary);
    text-align: center;
    padding-top: 5rem;
    padding-bottom: 5rem;
    gap: 4rem;
}