@tailwind base;
@tailwind components;
@tailwind utilities;

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  @apply text-tertiary;
  @apply bg-whitesmoke;
}
* {
  @apply font-montserrat;
}

.container {
  @apply min-w-full;
  @apply min-h-screen;
  @apply flex;
  @apply flex-col;
  @apply justify-between;
}

h1 {
  @apply text-2xl font-bold text-black;
}

p {
  @apply text-base text-black;
}
